fastapi
uvicorn
requests
requests-toolbelt
pydantic
motor
pyPDF2
pdfplumber
python-dotenv
qdrant-client[fastembed]
langchain-core
langchain-huggingface
langchain-community
sentence-transformers
transformers
speechrecognition
pillow
pytest
pytest-asyncio
python-multipart
torch
torchaudio
soundfile
librosa
pydub
pymongo
nltk
spacy
tqdm
jinja2
python-jose[cryptography]
passlib[bcrypt]
numpy
scikit-learn
fastembed